<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @erds.each do |erd| %>
      <tr>
        <td><%= link_to erd.nm, project_erd_path(@project, erd) %></td>
        <td><%= link_to '編集', edit_project_erd_path(@project, erd) %></td>
        <td><%= link_to '削除', project_erd_path(@project, erd), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_project_erd_path(@project), class: 'btn btn-default' %>
