  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>ユーザー</th>
        <th>管理者</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.nm %>
          </td>
          <td><%= user.admin_flag ? "管理者" : "" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
